# *********************************
# SPOTIFY API CONFIGURATION
# *********************************
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=


# *********************************
# SERVER / DISPLAY CONFIGURATION
# *********************************
PORT=
HOST=
DEBUG=



# *********************************
# PAD REMOTE CONFIGURATION
# *********************************
PAD_REMOTE_HOST=
PAD_REMOTE_PORT=
PAD_REMOTE_PASSWORD=

# *********************************
# Weather API CONFIGURATION
# *********************************
LATITUDE=
LONGITUDE=
CITY_NAME=

